* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: burlywood;/* change color */
}
.header{
    padding-top: 15px;
    padding-left: 30px;
    color:darkblue;/* change color */
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    background-color: aquamarine;/* change color */
}
.header nav{
    padding-top: 50px;
    padding-right: 50px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    background-color: black;/* change color and maybe fix to make fill full area */
}
.header nav ul{ 
    list-style-type: none;
}
.header nav ul li{
    display: inline-block;
    margin-left: 40px;
}
/*The following is for the About ME, My Work, Contact Me, Resume tabs */
.a{
    color: darkgreen;/* change color */
    text-decoration: none;
    padding: 15px;
    border-style: solid;
    background-color: beige;/* change color */
}
.b{
    color: darkorange;/* change color */
    text-decoration: none;
    padding: 15px;
    border-style: solid;
    background-color: beige;/* change color */
}
.c{
    color: darkred;/* change color */
    text-decoration: none;
    padding: 15px;
    border-style: solid;
    background-color: beige; /* change color */
}
.d{
    color: blueviolet;/* change color */
    text-decoration: none;
    padding: 15px;
    border-style: solid;
    background-color: beige; /* change color */
}
/*The following is for all the sections for About me, My work, Contact Me, Resume */
.aa{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornflowerblue;/* change color */
    color: crimson;/* change color */
}
.a1{ /* Header */
    color: darkgreen; /* change color */
    background-color: white; /* change color */
    font-weight: 900;
    padding: 15px;
    border-style: solid;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
}
.bb{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkgray;/* change color */
    color: crimson;/* change color */
}
.b1{ /* Header */
    color: darkorange; /* change color */
    background-color: white; /* change color */
    font-weight: 900;
    padding: 15px;
    border-style: solid;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
}
.cc{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornflowerblue;/* change color */
    color: crimson;/* change color */
}
.c1{ /* Header */
    color: darkred; /* change color */
    font-weight: 900;
    background-color: white; /* change color */ 
    padding: 15px;
    border-style: solid;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
}
.dd{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkgray;/* change color */
    color: crimson;/* change color */
}
.d1{ /* Header */
    color: blueviolet; /* change color */
    font-weight: 900;
    background-color: white; /* change color */
    padding: 15px;
    border-style: solid;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
}